<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    <add name="Db" connectionString="Data Source=DESKTOP-V8QCE1H;Initial Catalog=ManagementSystem;User ID=sa;Password=abcd123"/>
  </connectionStrings>
  
</configuration>